{% extends "layout.html" %}

{% block content %}
    <main class="estudos m-auto p-4">
        <h1 class="titulo m-auto p-4 text-start">Estudos</h1>
            {% for estudo in estudos %}
                <div class="card mb-3" style="width: 100%; min-height: 180px;">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ estudo.title }}</h5>
                                <p class="card-text">{{ estudo.resume }}</p>
                                <a href="/post/{{ estudo.id }}" class="btn custom-btn">Ler Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </main>
    
{% endblock %}