{% extends "layout.html" %}

{% block content %}
    <div class="d-flex">
        <article class="text m-auto bg-body-tertiary p-5">
            <div class="conteudo m-10">
                <h1>Sobre o Bíblia em Mim</h1>
                <p>
                    Sou Hamilton Filho, criador do Bíblia em Mim. Esse site foi feito para eu colocar
                    minhas reflexões bíblicas.
                </p>
                <p>
                    Além disso recomendo para você livros com meus links para Amazon. Comprando eles você me ajuda a continuar escrevendo e compartilhando o evangelho.
                </p>
                <p>
                    Não sou nenhum teólogo ou pastor, apenas um instrumento nas mãos de Cristo. Acredito que a verdadeira aprendizagem acontece quando lemos, compreendemos e aplicamos o que aprendemos.
                </p>
                <p>
                    Para mim, a melhor forma de internalizar um assunto é escrevendo, e esse é o principal objetivo deste site: registrar meus estudos e, assim, compartilhar o evangelho com você, leitor.
                </p>
                <p>
                    Procuro ser o mais fiel possível à Palavra de Deus, por isso meus estudos são aprofundados e cuidadosamente elaborados. Prometo ser imparcial e buscar extrair do texto aquilo que ele realmente quer nos transmitir.
                </p>
                <p>
                    Convido você a se aproximar de Deus junto comigo lendo meus estudos. Ficarei muito grato em compartilhá-los com você e mais ainda se você quiser discutir os temas comigo.
                </p>
                <p>
                    Não sou o dono da verdade, pois somente Ele é o dono de toda a Verdade.
                </p>
            </div>
        </article>
    </div>

{% endblock %}